<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usando Vue Rulo</title>
    <link rel="stylesheet" type="text/css" href="index.css">

</head>

<body>
    <div class="container" id="container_app">
    <form class="login">
        <input type="text" placeholder="Username" v-model ="email" email ="">
        <input type="password" placeholder="Password" v-model="password" password="" >
        <button  @click ="login">Login</button>
      </form>
    </div>
      
      <a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>
    <center>
    <!-- <br> <br>
    <div class="container" id="container_app">
        <h1> ¡Hola  {{ name }}  ! </h1><br>
        
        <input type="text" v-model="name" name=""><br>

        <button @click="count++">
            Count is {{count}}
        </button><br><br>
        <input type="" v-model="num1" name=""><br>
        <input type="" v-model="num2" name=""><br>

        <button @click="total= ((+num1)+(+num2))">
            Suma dos numeros
        </button>

        <h2>El Resultado es : <span v-if="total!=0"> {{total}}</h2> </span>
        <hr>
        <br>
        <br>

        <form action="">
            <fieldset>
                <legend> Nombre</legend>
                <input type="text" v-model="username" name="">
            </fieldset>
            <fieldset>
                <legend>Apellido</legend>
                <input type="text" v-model="lastname" name="">
            </fieldset>

            <button type="button" v-on:click="addPerson">REGISTRAR PERSONA</button>
        </form>

        <ul>
            <li v-for="item in  persons">
                {{item.name}} - {{item.apellido}}
            </li>
        </ul>
    


    </div> -->

    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">

        const { createApp, ref } = Vue

        createApp({
          setup(){

            users= ref([]);
            email= ref('');
            password = ref('');
       
                return {
                    users,
                    email,
                    password
                }
          },
          methods:{
            async login(){
                const response =await fetch("user.json");
                const users= await response.json();
                console.log(users.email );
                let login=false;
                
                users.forEach((users)=>
                {
                    if(this.email == users.email){
                        if (this.password == users.password){
                            alert("Bienvenido");
                            login=true;
                        }else{
                            alert("Verifica tus credenciales");

                        }
                    }else{
                    }
                }

                )
                
            
            }
          }
        }).mount('#container_app');
        /*
       

        createApp({
        setup() {
            const message ="";
            const name ="";
            const num1 =0;
            const num2 =0;
            const total =0;
            const username = ref(''), lastname = ref('');
            const persons = ref([]);
            return {
                name: ref(''),
                count: ref(0),
                num1: ref(0),
                num2: ref(0),
                total: ref(0),
                username,
                lastname,
                persons
               
            }
   
        },
        methods:{
                addPerson(){
                    const person= {
                        name:this.username,
                       apellido:this.lastname

                    }
                    this.persons.push(person)
                    console.log("Hola Crayola");
                    console.log(this.username);
                    console.log(this.lastname);
                }
        }
        }).mount('#container_app')

    */
    </script>
</center>
</body>

</html>